E html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Par Reset Demo</title>
    <meta
      name="description"
      content="Identify and reduce your excess and non-moving inventory."
    />
    <link rel="icon" href="/favicon.svg" />
    <meta name="next-head-count" content="5" />
    <link
      rel="preload"
      href="/_next/static/css/2481aec8310ceab6890a.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/_next/static/css/2481aec8310ceab6890a.css"
      data-n-g=""
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills-a40ef1678bae11e696dba45124eadd70.js"
    ></script>
    <script
      src="/_next/static/chunks/webpack-613fd858cdb9cf2af3be.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/framework-2191d16384373197bc0a.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main-f3241dd2535f24f6488f.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app-57dfb593acd7e1b9e2e3.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/36bcf0ca-2d24b02d9ab7f1c9d278.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/869-d8a0ab61ca305892f93c.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/982-1f84a5ad628f854c6e11.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/index-263446377cf9c5f024c7.js"
      defer=""
    ></script>
    <script
      src="/_next/static/TEx3BCGJaCBX3di6HCvir/_buildManifest.js"
      defer=""
    ></script>
    <script
      src="/_next/static/TEx3BCGJaCBX3di6HCvir/_ssgManifest.js"
      defer=""
    ></script>
  </head>
  <body>
    <div id="__next">
      <div class="min-h-screen bg-gray-100">
        <nav class="bg-gray-800">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
              <div class="flex items-center">
                <div class="flex-shrink-0 mt-4">
                  <div
                    style="
                      display: inline-block;
                      max-width: 100%;
                      overflow: hidden;
                      position: relative;
                      box-sizing: border-box;
                      margin: 0;
                    "
                  >
                    <div
                      style="
                        box-sizing: border-box;
                        display: block;
                        max-width: 100%;
                      "
                    >
                      <img
                        style="
                          max-width: 100%;
                          display: block;
                          margin: 0;
                          border: none;
                          padding: 0;
                        "
                        alt=""
                        aria-hidden="true"
                        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAiIGhlaWdodD0iOTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+"
                      />
                    </div>
                    <img
                      alt="Website logo"
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                      decoding="async"
                      data-nimg="intrinsic"
                      class=""
                      style="
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        box-sizing: border-box;
                        padding: 0;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0;
                        height: 0;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                      "
                    /><noscript
                      ><img
                        alt="Website logo"
                        srcset="
                          /_next/image?url=%2Ffavicon.svg&amp;w=96&amp;q=75  1x,
                          /_next/image?url=%2Ffavicon.svg&amp;w=256&amp;q=75 2x
                        "
                        src="/_next/image?url=%2Ffavicon.svg&amp;w=256&amp;q=75"
                        decoding="async"
                        data-nimg="intrinsic"
                        style="
                          position: absolute;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                          box-sizing: border-box;
                          padding: 0;
                          border: none;
                          margin: auto;
                          display: block;
                          width: 0;
                          height: 0;
                          min-width: 100%;
                          max-width: 100%;
                          min-height: 100%;
                          max-height: 100%;
                        "
                        class=""
                        loading="lazy"
                    /></noscript>
                  </div>
                </div>
                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4">
                    <a
                      class="
                        bg-gray-900
                        text-white
                        px-3
                        py-2
                        rounded-md
                        text-sm
                        font-medium
                      "
                      aria-current="page"
                      href="/"
                      >Dashboard</a
                    ><a
                      class="
                        text-gray-300
                        hover:bg-gray-700 hover:text-white
                        px-3
                        py-2
                        rounded-md
                        text-sm
                        font-medium
                      "
                      href="/reset"
                      >Reset</a
                    >
                  </div>
                </div>
              </div>
              <div>
                <div class="ml-4 flex items-center md:ml-6">
                  <div class="ml-3 relative">
                    <div>
                      <button
                        class="
                          max-w-xs
                          bg-gray-800
                          rounded-full
                          flex
                          items-center
                          text-sm
                          focus:outline-none
                          focus:ring-2
                          focus:ring-offset-2
                          focus:ring-offset-gray-800
                          focus:ring-white
                        "
                        id="headlessui-menu-button-undefined"
                        type="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <span class="sr-only">Open user menu</span
                        ><img
                          class="h-8 w-8 rounded-full"
                          src="https://images.unsplash.com/photo-1534308143481-c55f00be8bd7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=256&amp;h=256&amp;q=80"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <section class="bg-white shadow">
          <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
            <div
              class="
                py-6
                md:flex md:items-center md:justify-between
                lg:border-t lg:border-gray-200
              "
            >
              <div class="flex-1 min-w-0">
                <div class="flex items-center">
                  <img
                    class="hidden h-16 w-16 rounded-full sm:block"
                    src="https://images.unsplash.com/photo-1534308143481-c55f00be8bd7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=256&amp;h=256&amp;q=80"
                    alt="profile-picture"
                  />
                  <div>
                    <div class="flex items-center">
                      <img
                        class="h-16 w-16 rounded-full sm:hidden"
                        src="https://images.unsplash.com/photo-1534308143481-c55f00be8bd7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=256&amp;h=256&amp;q=80"
                        alt="profile-picture"
                      />
                      <h1
                        class="
                          ml-3
                          text-2xl
                          font-bold
                          leading-7
                          text-gray-900
                          sm:leading-9 sm:truncate
                        "
                      >
                        Good afternoon<!-- -->,
                        <!-- -->John<!-- -->
                        <!-- -->Smith
                      </h1>
                    </div>
                    <dl
                      class="
                        mt-6
                        flex flex-col
                        sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap
                      "
                    >
                      <dt class="sr-only">Company</dt>
                      <dd
                        class="
                          flex
                          items-center
                          text-sm text-gray-500
                          font-medium
                          capitalize
                          sm:mr-6
                        "
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                          aria-hidden="true"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4"
                          ></path></svg
                        >St. Isaac&#x27;s Hospital
                      </dd>
                      <dt class="sr-only">Account Status</dt>
                      <dd
                        class="
                          mt-3
                          flex
                          items-center
                          text-sm text-gray-500
                          font-medium
                          sm:mr-6 sm:mt-0
                          capitalize
                        "
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                          aria-hidden="true"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                          ></path></svg
                        >Director of Materials Management
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="lg:max-w-6xl lg:mx-auto pt-3">
          <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            <div
              class="
                relative
                bg-white
                pt-5
                px-4
                pb-12
                sm:pt-6 sm:px-6
                shadow
                rounded-lg
                overflow-hidden
              "
            >
              <dt>
                <div class="absolute bg-indigo-500 rounded-md p-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="h-6 w-6 text-white"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                    ></path>
                  </svg>
                </div>
                <p class="ml-16 text-sm font-medium text-gray-500 truncate">
                  Inventory Reduced
                </p>
              </dt>
              <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
                <p class="text-2xl font-semibold text-gray-900">$14,084.96</p>
                <div
                  class="
                    absolute
                    bottom-0
                    inset-x-0
                    bg-gray-50
                    px-4
                    py-4
                    sm:px-6
                  "
                >
                  <div class="text-sm">
                    <a
                      class="font-medium text-indigo-600 hover:text-indigo-400"
                      href="/reviewStats"
                    >
                      <!-- -->View all<span class="sr-only">
                        <!-- -->Inventory Reduced<!-- -->
                      </span></a
                    >
                  </div>
                </div>
              </dd>
            </div>
            <div
              class="
                relative
                bg-white
                pt-5
                px-4
                pb-12
                sm:pt-6 sm:px-6
                shadow
                rounded-lg
                overflow-hidden
              "
            >
              <dt>
                <div class="absolute bg-indigo-500 rounded-md p-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="h-6 w-6 text-white"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </div>
                <p class="ml-16 text-sm font-medium text-gray-500 truncate">
                  Weeks Completed
                </p>
              </dt>
              <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
                <p class="text-2xl font-semibold text-gray-900">3</p>
                <div
                  class="
                    absolute
                    bottom-0
                    inset-x-0
                    bg-gray-50
                    px-4
                    py-4
                    sm:px-6
                  "
                >
                  <div class="text-sm">
                    <a
                      class="font-medium text-indigo-600 hover:text-indigo-400"
                      href="/reviewStats"
                    >
                      <!-- -->View all<span class="sr-only">
                        <!-- -->Weeks Completed<!-- -->
                      </span></a
                    >
                  </div>
                </div>
              </dd>
            </div>
            <div
              class="
                relative
                bg-white
                pt-5
                px-4
                pb-12
                sm:pt-6 sm:px-6
                shadow
                rounded-lg
                overflow-hidden
              "
            >
              <dt>
                <div class="absolute bg-indigo-500 rounded-md p-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="h-6 w-6 text-white"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                    ></path>
                  </svg>
                </div>
                <p class="ml-16 text-sm font-medium text-gray-500 truncate">
                  Pars Reduced
                </p>
              </dt>
              <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
                <p class="text-2xl font-semibold text-gray-900">9</p>
                <div
                  class="
                    absolute
                    bottom-0
                    inset-x-0
                    bg-gray-50
                    px-4
                    py-4
                    sm:px-6
                  "
                >
                  <div class="text-sm">
                    <a
                      class="font-medium text-indigo-600 hover:text-indigo-400"
                      href="/reviewStats"
                    >
                      <!-- -->View all<span class="sr-only">
                        <!-- -->Pars Reduced<!-- -->
                      </span></a
                    >
                  </div>
                </div>
              </dd>
            </div>
          </dl>
        </section>
        <section class="lg:max-w-6xl lg:mx-auto mt-10 hidden sm:block">
          <div class="bg-white rounded-lg">
            <div class="px-20 py-5">
              <h1 class="text-2xl text-gray-500">Rolling Five Week View</h1>
              <canvas
                height="150"
                width="300"
                data-testid="canvas"
                role="img"
              ></canvas>
            </div>
          </div>
        </section>
      </div>
      <div
        style="
          position: fixed;
          z-index: 9999;
          top: 16px;
          left: 16px;
          right: 16px;
          bottom: 16px;
          pointer-events: none;
        "
      ></div>
    </div>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": { "pageProps": {} },
        "page": "/",
        "query": {},
        "buildId": "TEx3BCGJaCBX3di6HCvir",
        "nextExport": true,
        "autoExport": true,
        "isFallback": false,
        "scriptLoader": []
      }
    </script>
  </body>
</html>
